/* Roboto centered font */
.roboto-center {
     font-family: "Roboto", sans-serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     color: #6182FF;
     font-size: 50px;
     font-variation-settings:
     "wdth" 100;
     text-align: center;
     }

/* Center text class */
.center-text {
    text-align: center;
}

/* Rounded button class */
.rounded-button-center {
    background-color: #6182FF;
    border: none;
    color: black;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 15px 10px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Quote {
    background-color: #6182FF;
    border: none;
    color: black;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 15px 10px auto;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
